<div ng-controller="skillFormCtrl" class="input-form-overlay">
    <div class="input-form">
        <div class="input-form-header">
            <div ng-include="'views/forms/base-form-header.html'"></div>
        </div>
        <div class="input-form-skill-form">
            <form>
                <div class="col-sm-10">
                    <label>Id</label>
                    <input type="text" enabled="false" ng-model="resource.id"/>
                </div>
                <div class="col-sm-10">
                    <label>Name</label>
                    <input type="text" ng-model="resource.name"/>
                </div>
                <div class="col-sm-10">
                    <label>Description</label>
                    <textarea ng-model="resource.description" ></textarea>
                </div>
            </form>
        </div>
        <div class="input-form-footer">
            <div ng-include="'views/forms/' + (resource.id ? 'edit' : 'create') + '-form-footer.html'"></div>
        </div>
    </div>
</div>