.input-form {
  text-align: center;
  max-width: 600px;
  max-height: 600px;
  z-index: 3;
  position: absolute;
  left: 30%;
  top: 32%;
  background-color: white;
  opacity: 1;
  padding: 40px 20px;
  border-radius: 10px;
  animation: all;

  .input-form-footer {
    margin-top: 30px;
    margin-bottom: 5px;
    div:first-child {
      margin-right: 20px;
    }
  }

  label, input, textarea {
    margin-top: 10px;
  }
  
  label {
    float: left;
    text-align: left;
    width: 20%;
  }

  input, textarea {
    float: right;
    width: 70%;
  }
}

.input-form-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.8;
  z-index: 2;
}